---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

import BaseHead from "../../layouts/sections/BaseHead.astro";
import Header from "../../layouts/sections/Header.astro";
import Footer from "../../components/Footer";
import Layout from "../../components/Layout";
import BlogCard from "../../components/BlogCard";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <Layout.Body>
    <Header />
    <Layout.Main>
      <h1 class="text-4xl mb-8 mt-4 font-bold">Posts</h1>
      <section>
        <ul>
          {
            posts.map((post) => (
              <BlogCard
                className="mb-8"
                datePublished={post.data.pubDate}
                description={post.data.description}
                title={post.data.title}
                href={`/posts/${post.slug}`}
              />
            ))
          }
        </ul>
      </section>
    </Layout.Main>
    <Layout.Footer>
      <Footer />
    </Layout.Footer>
  </Layout.Body>

</html>
